extends ../layouts/default

block content
	div(style="padding-left: 5vw; padding-right: 5vw;").jumbotron
		h1 欢迎光临
		.lead 这是一个世外桃源...有着数不尽的资源...
		a(href='http://github.com/keystonejs/keystone-demo', target='_blank', title='View on GitHub').btn.btn-lg.btn-primary View on GitHub

